apiVersion: apps/v1
kind: Deployment
metadata:
  name: exercise-3
  labels:
    app: exercise-3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exercise-3
  template:
    metadata:
      labels:
        app: exercise-3
        version: "1.0"
    spec:
      containers:
      - name: nginx
        image: public.ecr.aws/nginx/nginx:1.29-alpine-amd64

        imagePullPolicy: IfNotPresent

        ports:
        - containerPort: 80
          name: http
          protocol: TCP

        resources:
          requests:
            cpu: "3000m"
            memory: "64Mi"

        startupProbe:
          httpGet:
            path: /
            port: 81
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 3
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 1
