apiVersion: apps/v1
kind: Deployment
metadata:
  name: exercise-2
  labels:
    app: exercise-2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exercise-2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: exercise-2
        version: "1.0"
    spec:
      nodeSelector:
        node: broken-nodes
      containers:
      - name: nginx
        image: public.ecr.aws/nginx/nginx:1.29-alpine-amd64

        imagePullPolicy: IfNotPresent

        ports:
        - containerPort: 80
          name: http
          protocol: TCP

        env:
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: exercise-2
              key: ENVIRONMENT

        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "50m"
            memory: "64Mi"

        startupProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 3
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 1
